* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(37, 38, 42);
  margin: 0;
}

h1 {
  font-size: 35px;
  text-shadow: 0 0 5px rgba(252,176,69,1);
}

.info #heart {
  color:rgba(252,176,69,1);
  font-size: 20px;
}

.info #author {
  text-decoration: none;
  color:rgba(252,176,69,1);
}